:root {
    --gradient-1: linear-gradient(135deg, #8b8a8c 0%, #10192a 100%);
    --gradient-2: linear-gradient(45deg, #73787e 0%, #858a8d 100%);
    --card-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
}

.contact-info {
    margin: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

.map-container {
    margin-top: 20px;
}
